[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm
[submodule "extern/SDL-mirror"]
	path = extern/SDL-mirror
	url = https://github.com/spurious/SDL-mirror
[submodule "extern/libmorton"]
	path = extern/libmorton
	url = https://github.com/forceflow/libmorton
[submodule "extern/sprout"]
	path = extern/sprout
	url = https://github.com/bolero-MURAKAMI/sprout
