# Auto detect text files and perform LF normalization
* text=auto
enginelogo2.png filter=lfs diff=lfs merge=lfs -text
enginelogo.png filter=lfs diff=lfs merge=lfs -text
splash.png filter=lfs diff=lfs merge=lfs -text
